.git
.gitignore

.next
node_modules

npm-debug.log*
*.log
*.tsbuildinfo

.env
.env.*
!.env.docker.example

coverage
dist
tmp
temp
backups
dbbkpd

public/uploads/*
!public/uploads/.gitkeep

Dockerfile*
compose*.yaml
docker-compose*.yml